body {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh; 
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}

.icon {
  margin-bottom: 20px; 
  width: 40px; 
  transition: filter 0.3s ease;
}

.sidebar img {
  width: 90px;
  margin: 15px 0;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.sidebar img:hover {
  opacity: 0.5; 
}

.sidebar img.selected {
  filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(7489%) hue-rotate(358deg) brightness(92%) contrast(112%);
}
.main-content {
  margin-left: 100px;
  flex: 0.5;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.amiibo-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.amiibo-card {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
}

.amiibo-card img {
  width: 100%;
  border-radius: 8px;
}
